!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    .topbar-wrapper
      .topbar
        .fill
          .container
            h3 
              a(href="/")= title 
    .content
      != body
