body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}

a {
  color: #00B7FF;}

.logo {
  font-family: 'Voltaire', sans-serif;;}

h1.logo {
  font-size: 4.5em;}

#filters .ui-button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 1.2em;}
