body {
  padding: 40px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  background-repeat: no-repeat;
  color: #fff;}

a {
  color: #00B7FF;}

p {
  font-size: 1.2em;}

h1 {
  font-family: 'Voltaire', sans-serif;
  color: #D5963A;}

.load {
  background: url(/images/load.gif) center no-repeat;
  width: 100%;
  height: 30px;
  padding: 5px;}

iframe {
  border: none;
  color: #CC0000;}

#voting-container {
  width: 200px;
  height: 70px;
  text-align: center;}
#voting-container p {
  font-size: 12px;}

#about {
  margin-bottom: 40px;}
#about h1.logo {
  color: #5C8AB7;
  font-size: 4.5em;
  margin-bottom: 5px;}
#about p {
  color: #9FBEDB;
  font-weight: bolder;
  font-size: 1.7em;}

.login {
  font-size: 1.4em;
  float: right;}

#filters {
  text-align: center;}

p#filtering-actions  {
  text-align: right;
  padding: 1em;
  font-color: green;}

#activity_container {
  min-height: 30px;
  padding: 20px;
  list-style-type: none;}
#activity_container .activity-item .activity-item-details {
  padding-left: 10px;
  display: none;}
#activity_container .welcome {
  font-weight: bolder;
  text-align: center;}
