body
  :padding 40px
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  :background-color #000
  :background-repeat no-repeat
  :color #fff
a
  :color #00B7FF
p
  :font-size 1.2em
h1
  :font-family 'Voltaire', sans-serif
  :color #D5963A
.load
  :background url(/images/load.gif) center no-repeat
  :width 100%
  :height 30px
  :padding 5px

// Header & Introduction
#about
  :margin-bottom 40px
  // Logo font
  h1.logo
    :color #5C8AB7
    :font-size 4.5em
    :margin-bottom 5px
  p
    :color #9FBEDB
    :font-weight bolder
    :font-size 1.7em

// Filter controls
#filters
  :text-align center

p#filtering-actions 
  :text-align right
  :font-size  1.4em

// Feed content
#activity
  :min-height 30px
  :padding 20px
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
