- for project in projects
  .activity-item
    h3
      a.expand #{project.owner}/#{project.name}
    .activity-item-details
      - for activity in project.activities
        p
          a('href'=activity.url)= activity.message
