#about
  h1.logo= title
  p #{title} filters your github News Feed to keep the riff-raff out

h1 1) Adjust your filters
#filters
  ul
    li
      a('href'='#featured-repos-filters') Featured Repos
    li
      a('href'='#trending-repos-filters') Trending Repos
    li
      a('href'='#my-people-filters') My People
    li
      a('href'='#my-repos-filters') My Projects
  #featured-repos-filters
    .load
  #trending-repos-filters
    input#test4.filter('type'='checkbox', 'checked'='false')
    label('for'='test4') Rails
  #my-people-filters
  #my-repos-filters

br

h1 2) Monitor activity (realtime)
.ui-widget.ui-widget-content.ui-corner-all
  #activity
    .load
