#about
  h1.logo= title
  p 
    | #{title} allows you to filter your Github News Feed 
    | to improve the signal to noise.

#filters-accordion
  #h3
    a('href'='#') Filters
  #filters
    ul
      li
        a('href'='#featured-repos-filters') Featured Repos
      li
        a('href'='#trending-repos-filters') Trending Repos
      li
        a('href'='#my-people-filters') My People
      li
        a('href'='#my-repos-filters') My Projects
    #featured-repos-filters
    #trending-repos-filters
      input#test4.filter('type'='checkbox', 'checked'='false')
      label('for'='test4') Rails
    #my-people-filters
    #my-repos-filters
br
#activity-accordion
  #h3
    a('href'='#') Activity
  #activity
