
#about
  h1.logo= title
  p Filter your github news feed and keep the riff-raff at bay

h1 1) Adjust your filters
#filters
  ul
    li
      a('href'='#trending-repos-filters') Trending Repos
    li
      a('href'='#my-people-filters') My People
    li
      a('href'='#my-repos-filters') My Projects
  #trending-repos-filters
    .load
  #my-people-filters
  #my-repos-filters
  
p(id='filtering-actions')
  input(type='submit',class='button save', id='button-filter-save', value='Save filters')

br

h1 2) Browse recent activity
.ui-widget.ui-widget-content.ui-corner-all
  #activity
    .load
