!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://www.google.com/jsapi?key=ABQIAAAAZ20yryTKPPNgrtH1TdfZnRSAJlqPI9gwWEMgIPup-quEHW3VvxQA6yauen7z6TKS0ix5UdZfgnUC6w')
    script(type='text/javascript', src='/javascripts/application.js')
  body 
    .content
      != body
