!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Voltaire')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Numans')

    link(rel='stylesheet', href='/stylesheets/nodeasaurus/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/gradient.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://www.google.com/jsapi?key=ABQIAAAAZ20yryTKPPNgrtH1TdfZnRSAJlqPI9gwWEMgIPup-quEHW3VvxQA6yauen7z6TKS0ix5UdZfgnUC6w')
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript', src='/javascripts/application.js')
    script(type='text/javascript', src='/javascripts/jquery.color.js')
    script(type='text/javascript', src='/javascripts/jquery-glowing.js')

    script!= javascript
  body 
    .header
      .login 
        - if(!everyauth.loggedIn)
          a(href="/auth/github") Login at github
        - else
          p(style="font-size: 0.9em") Logged github as 
            = everyauth.github.user.login 

            a(href="/logout", style="margin-left: 0.5em;")  Logout 
        - 
        br
        br
        <iframe src="http://nodeknockout.com/iframe/nodeasaurus?css=https://raw.github.com/gist/1177387/e336c0efd7c6d78fa1f49fda2f5e813ab747f580/gistfile1.txt" border="0" width="150" height="25" style="color: #000;"></iframe>
    .content
      != body

    script(type='text/javascript', src='/javascripts/pusher-pre.js') 
    script(type='text/javascript', src='/javascripts/pusher-github.js') 
