!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Voltaire')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Numans')

    link(rel='stylesheet', href='/stylesheets/nodeasaurus/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/gradient.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://www.google.com/jsapi?key=ABQIAAAAZ20yryTKPPNgrtH1TdfZnRSAJlqPI9gwWEMgIPup-quEHW3VvxQA6yauen7z6TKS0ix5UdZfgnUC6w')
    script(type='text/javascript', src='/javascripts/utils.js')
    script(type='text/javascript', src='/javascripts/application.js')
    script(type='text/javascript', src='/javascripts/jquery.color.js')
    script(type='text/javascript', src='/javascripts/jquery-glowing.js')
  body 
    .content
      != body

    script(type='text/javascript', src='http://js.pusherapp.com/1.9/pusher.min.js') 
    script(type='text/javascript') 
      var pusher = new Pusher('68539979797b164a734e');
      var channel = pusher.subscribe('test_channel');
      channel.bind('my_event', function(data) {
        alert(data);
      });
